.AllProducts_container {
  background-color: white;
  margin: 2rem;
}
.allproducts_cont {
  display: flex;
  flex-direction: column;
}
.AllProducts_container:hover .starproducts_line {
  width: 5rem;
}
.mar {
  margin-top: 0.3rem;
}
.allproducts_cat_name {
  font-size: 1.4rem;
  font-weight: 500;
}
