.SortingBar_container{
    display: flex;
    gap: 1rem;
    border-bottom: 1px solid lightgray;
}
.allproducts_sort_label{
    font-weight: 500;
    font-size: 1.1rem;
}
.allproducts_sort_val{
    cursor: pointer;
}
.allproducts_active{
    border-bottom: 3px solid #4AC85D;
    margin-top: .5rem;
}